<!doctype html>
<html lang="en">

<head>
    <!-- Requi#800001 meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Treasury Tennis Club</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body class="p-0 m-0" style="background-color:black;" ;>
    <div id="app" class="p-0 m-0">
        <img v-if="turnamen2022.length > 0" style="width:100%; margin-top:0;" class="mt-3 mb-3" :src="turnamen2022[0].linkFoto" alt="">
        <!-- {{turnamen2022}} -->

        <!-- hide only on xs -->
        <div v-for="item in dataPertandingan" class="d-none d-sm-block container text-center mb-5" style="color:white;">
            <h1>{{item.tanggal}}</h1>
            <div class="container">
                <div class=" row flex-wrap d-flex align-items-center m-0 p-0" style="font-weight:800; background-color:#800001; border-radius:35px;">
                    <div class="col-5 d-flex  flex-wrap align-items-center justify-content-start ">
                        <div class="d-flex align-items-center justify-content-center align-content-center" style="background-color:white; border-radius:30px; width:60px; height:60px;">
                            <div class="d-flex">
                                <span style="font-weight:800; color:#800001;" class="display-5">{{item.point1}}</span>
                            </div>
                        </div>
                        <div class="mx-1 mb-2 ">
                            <span style="font-weight:400; color:white;" class="display-6">{{item.tim1}}</span>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center display-5 mb-2">
                        <span class="text-center " style="font-weight:800;">vs</span>
                    </div>
                    <div class="col-5 d-flex  flex-wrap align-items-center justify-content-end ">
                        <div class="mx-1 mb-2 ">
                            <span style="font-weight:400; color:white;" class="display-6">{{item.tim2}}</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center align-content-center" style="background-color:white; border-radius:30px; width:60px; height:60px;">
                            <div class="d-flex">
                                <span style="font-weight:800; color:#800001;" class="display-5">{{item.point2}}</span>
                            </div>
                        </div>
                    </div>


                </div>


                <div class=" mt-3 row flex-wrap d-flex align-items-center m-0 p-0" style="font-weight:800; background-color:white; border-radius:35px;">
                    <div class="col-4 d-flex flex-wrap align-items-center justify-content-center mb-2">
                        <div class="mx-1 bg-" style="color:black; font-size:20px;">
                            <span>{{item.tim1player11}}</span>
                            <span>/</span>
                            <span>{{item.tim1player12}}</span>
                        </div>
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center display-5 mb-1">
                        <div class="mx-2 d-flex align-items-center justify-content-center mt-2 align-content-center" style="background-color:#800001; border-radius:30px; width:60px; height:60px;">
                            <div class="d-flex">
                                <span style="font-weight:800; color:white;" class="display-6">{{item.hasilTim11}}</span>
                            </div>
                        </div>
                        <span class="text-center mb-2" style="font-weight:800; color:#800001;">vs</span>
                        <div class="mx-2 d-flex align-items-center justify-content-center mt-2 align-content-center" style="background-color:#800001; border-radius:30px; width:60px; height:60px;">
                            <div class="d-flex">
                                <span style="font-weight:800; color:white;" class="display-6">{{item.hasilTim21}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-wrap align-items-center justify-content-center mb-2">
                        <div class="mx-1 bg-" style="color:black; font-size:20px;">
                            <span>{{item.tim2player11}}</span>
                            <span>/</span>
                            <span>{{item.tim2player12}}</span>
                        </div>
                    </div>


                </div>

                <div class=" mt-3 row flex-wrap d-flex align-items-center m-0 p-0" style="font-weight:800; background-color:white; border-radius:35px;">
                    <div class="col-4 d-flex flex-wrap align-items-center justify-content-center mb-2">
                        <div class="mx-1 bg-" style="color:black; font-size:20px;">
                            <span>{{item.tim1player21}}</span>
                            <span>/</span>
                            <span>{{item.tim1player22}}</span>
                        </div>
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center display-5 mb-1">
                        <div class="mx-2 d-flex align-items-center justify-content-center mt-2 align-content-center" style="background-color:#800001; border-radius:30px; width:60px; height:60px;">
                            <div class="d-flex">
                                <span style="font-weight:800; color:white;" class="display-6">{{item.hasilTim12}}</span>
                            </div>
                        </div>
                        <span class="text-center mb-2" style="font-weight:800; color:#800001;">vs</span>
                        <div class="mx-2 d-flex align-items-center justify-content-center mt-2 align-content-center" style="background-color:#800001; border-radius:30px; width:60px; height:60px;">
                            <div class="d-flex">
                                <span style="font-weight:800; color:white;" class="display-6">{{item.hasilTim22}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-wrap align-items-center justify-content-center mb-2">
                        <div class="mx-1 bg-" style="color:black; font-size:20px;">
                            <span>{{item.tim2player21}}</span>
                            <span>/</span>
                            <span>{{item.tim2player22}}</span>
                        </div>
                    </div>


                </div>

                <div class=" mt-3 row flex-wrap d-flex align-items-center m-0 p-0" style="font-weight:800; background-color:white; border-radius:35px;">
                    <div class="col-4 d-flex flex-wrap align-items-center justify-content-center mb-2">
                        <div class="mx-1 bg-" style="color:black; font-size:20px;">
                            <span>{{item.tim1player31}}</span>
                            <span>/</span>
                            <span>{{item.tim1player32}}</span>
                        </div>
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center display-5 mb-1">
                        <div class="mx-2 d-flex align-items-center justify-content-center mt-2 align-content-center" style="background-color:#800001; border-radius:30px; width:60px; height:60px;">
                            <div class="d-flex">
                                <span style="font-weight:800; color:white;" class="display-6">{{item.hasilTim13}}</span>
                            </div>
                        </div>
                        <span class="text-center mb-2" style="font-weight:800; color:#800001;">vs</span>
                        <div class="mx-2 d-flex align-items-center justify-content-center mt-2 align-content-center" style="background-color:#800001; border-radius:30px; width:60px; height:60px;">
                            <div class="d-flex">
                                <span style="font-weight:800; color:white;" class="display-6">{{item.hasilTim23}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-wrap align-items-center justify-content-center mb-2">
                        <div class="mx-1 bg-" style="color:black; font-size:20px;">
                            <span>{{item.tim2player31}}</span>
                            <span>/</span>
                            <span>{{item.tim2player32}}</span>
                        </div>
                    </div>


                </div>

            </div>



        </div>

        <!-- only on xs -->
        <div v-for="item in dataPertandingan" class="d-block d-sm-none  text-center mb-3" style="color:white; margin:5px;">
            <h1>{{item.tanggal}}</h1>

            <div class="">
                <div class=" row flex-wrap d-flex align-items-center m-0 p-0" style="font-weight:800; background-color:#800001; border-radius:35px;">
                    <div class="col-5 d-flex  flex-wrap flex-column align-items-center justify-content-center ">
                        <div class="mt-2 d-flex align-items-center justify-content-center align-content-center" style="background-color:white; border-radius:25px; width:50px; height:50px;">
                            <div class="d-flex">
                                <h5 style="font-weight:800; color:#800001;" class="">{{item.point1}}</h5>
                            </div>
                        </div>
                        <div class="mx-1 mb-2 ">
                            <span style="font-weight:400; color:white; font-size:12px;" class="">{{item.tim1}}</span>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center  mb-2">
                        <span class="text-center " style="font-weight:800;">vs</span>
                    </div>
                    <div class="col-5 d-flex  flex-wrap flex-column align-items-center justify-content-center ">
                        <div class="mt-2 d-flex align-items-center justify-content-center align-content-center" style="background-color:white; border-radius:25px; width:50px; height:50px;">
                            <div class="d-flex">
                                <h5 style="font-weight:800; color:#800001;" class="">{{item.point2}}</h5>
                            </div>
                        </div>
                        <div class="mx-1 mb-2 ">
                            <span style="font-weight:400; color:white; font-size:12px;" class="">{{item.tim2}}</span>
                        </div>
                    </div>


                </div>


                <div class=" mt-3 row flex-wrap d-flex align-items-center m-0 p-0" style="font-weight:800; background-color:white; border-radius:35px;">
                    <div class="col-4 d-flex flex-wrap align-items-center justify-content-center mb-2">
                        <div class="mx-1 mt-2 bg-" style="color:black; font-size:8px;">
                            <span>{{item.tim1player11}}</span>
                            <span>/</span>
                            <span>{{item.tim1player12}}</span>
                        </div>
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center  mb-1">
                        <div class=" d-flex align-items-center justify-content-center mt-2 align-content-center" style="background-color:#800001; border-radius:15px; width:30px; height:25px;">
                            <div class="d-flex">
                                <span style="font-weight:600; color:white;" class="">{{item.hasilTim11}}</span>
                            </div>
                        </div>
                        <span class="text-center mb-2 mt-2 mx-2" style="font-weight:800; color:#800001;">vs</span>
                        <div class="d-flex align-items-center justify-content-center mt-2 align-content-center" style="background-color:#800001; border-radius:15px; width:30px; height:25px;">
                            <div class="d-flex ">
                                <span style="font-weight:600; color:white; " class=" ">{{item.hasilTim21}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-wrap align-items-center justify-content-center mb-2 ">
                        <div class="mx-1 mt-2 bg- " style="color:black; font-size:8px; ">
                            <span>{{item.tim2player11}}</span>
                            <span>/</span>
                            <span>{{item.tim2player12}}</span>
                        </div>
                    </div>
                </div>

                <div class=" mt-3 row flex-wrap d-flex align-items-center m-0 p-0" style="font-weight:800; background-color:white; border-radius:35px;">
                    <div class="col-4 d-flex flex-wrap align-items-center justify-content-center mb-2">
                        <div class="mx-1 mt-2 bg-" style="color:black; font-size:8px;">
                            <span>{{item.tim1player21}}</span>
                            <span>/</span>
                            <span>{{item.tim1player22}}</span>
                        </div>
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center  mb-1">
                        <div class=" d-flex align-items-center justify-content-center mt-2 align-content-center" style="background-color:#800001; border-radius:15px; width:30px; height:25px;">
                            <div class="d-flex">
                                <span style="font-weight:600; color:white;" class="">{{item.hasilTim12}}</span>
                            </div>
                        </div>
                        <span class="text-center mb-2 mt-2 mx-2" style="font-weight:800; color:#800001;">vs</span>
                        <div class="d-flex align-items-center justify-content-center mt-2 align-content-center" style="background-color:#800001; border-radius:15px; width:30px; height:25px;">
                            <div class="d-flex ">
                                <span style="font-weight:600; color:white; " class=" ">{{item.hasilTim22}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-wrap align-items-center justify-content-center mb-2 ">
                        <div class="mx-1 mt-2 bg- " style="color:black; font-size:8px; ">
                            <span>{{item.tim2player21}}</span>
                            <span>/</span>
                            <span>{{item.tim2player22}}</span>
                        </div>
                    </div>
                </div>

                <div class=" mt-3 row flex-wrap d-flex align-items-center m-0 p-0" style="font-weight:800; background-color:white; border-radius:35px;">
                    <div class="col-4 d-flex flex-wrap align-items-center justify-content-center mb-2">
                        <div class="mx-1 mt-2 bg-" style="color:black; font-size:8px;">
                            <span>{{item.tim1player31}}</span>
                            <span>/</span>
                            <span>{{item.tim1player32}}</span>
                        </div>
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center  mb-1">
                        <div class=" d-flex align-items-center justify-content-center mt-2 align-content-center" style="background-color:#800001; border-radius:15px; width:30px; height:25px;">
                            <div class="d-flex">
                                <span style="font-weight:600; color:white;" class="">{{item.hasilTim13}}</span>
                            </div>
                        </div>
                        <span class="text-center mb-2 mt-2 mx-2" style="font-weight:800; color:#800001;">vs</span>
                        <div class="d-flex align-items-center justify-content-center mt-2 align-content-center" style="background-color:#800001; border-radius:15px; width:30px; height:25px;">
                            <div class="d-flex ">
                                <span style="font-weight:600; color:white; " class=" ">{{item.hasilTim23}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-wrap align-items-center justify-content-center mb-2 ">
                        <div class="mx-1 mt-2 bg- " style="color:black; font-size:8px; ">
                            <span>{{item.tim2player31}}</span>
                            <span>/</span>
                            <span>{{item.tim2player32}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM "
        crossorigin="anonymous "></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js " integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p
                            " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js " integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF
                            " crossorigin="anonymous "></script>
    -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 "
        crossorigin="anonymous "></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                turnamen2022: ['a', 'b', 'c'],
                dataPertandingan: [],


            },
            methods: {

            },
            created() {
                // ambil data turnamen
                this.turnamen2022 = [];

                var url = "https://script.google.com/macros/s/AKfycbx6jx9ZCEFAe7tdpSnNAvzyLkEB__oEsA08wA3YhBcBbH-aDZZhK6la_yvEUh3fUWf17g/exec?action=read&table=Qturnamen2022 ";


                $.getJSON(url, function (json) {
                    // console.log(json.data);
                    // console.log(json.data.records)
                    app.turnamen2022 = json.data;
                });

                // ambil data pertandingan
                this.dataPertandingan = [];

                var url = "https://script.google.com/macros/s/AKfycbx6jx9ZCEFAe7tdpSnNAvzyLkEB__oEsA08wA3YhBcBbH-aDZZhK6la_yvEUh3fUWf17g/exec?action=read&table=dataPertandingan ";


                $.getJSON(url, function (json) {
                    // console.log(json.data);
                    // console.log(json.data.records)
                    app.dataPertandingan = json.data;
                });
            }
        });
    </script>
</body>

</html>
